<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>501373164474-d1tj12gemdvh3k0db6n5nib7qs5matop.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.501373164474-d1tj12gemdvh3k0db6n5nib7qs5matop</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>501373164474-6b2cg18143obnenmsuf8k2ob4ga1h9m5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBseJ_cbUE9tjsfO-69m4bnqbHqUUoQOUk</string>
	<key>GCM_SENDER_ID</key>
	<string>501373164474</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.esparkTrackifyDemo.app</string>
	<key>PROJECT_ID</key>
	<string>espark-trackify</string>
	<key>STORAGE_BUCKET</key>
	<string>espark-trackify.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:501373164474:ios:4d7ee74a2fac1db4e45b83</string>
</dict>
</plist>